* {
    margin:0 auto;
    padding:0;
}


body {
    font-family:YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    
    font-size: 14px;
}


header {
    background-color: #bac1c7;
    margin: 0;
    padding:40px 20px 40px 20px;
}


.prof-image {
    margin:40px 0 20px 0;
    border:7px solid #bac1c7;
    border-radius: 100%;
    max-width:170px;
    text-align:center;
}


/* カラーバリエーション
#51a1a2
#b1d7e4  
#c08e47


*/




.N-effect {
    color: #147472;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 0 20px 0 0;
    text-shadow: 1px 1px 0px #b1623d;
}



h1 {
    font-size: 35px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.15em;
    filter:dropshadow(color=#000000,offX= 0,offY=-1)
    dropshadow(color=#000000,offX= 1,offY= 0)
    dropshadow(color=#000000,offX= 0,offY= 1)
    dropshadow(color=#000000,offX=-1,offY= 0);
 
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
 
text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;
    
}




h2 {
    font-size: 30px;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 0 0 40px 0;
}



.col-sm-5 {
    text-align: center;
    background-color: #c0542d;

}

.col-sm-7 {
    text-align: justify;
    margin: 0px;
    padding: 10px 0 17px 0;
    color: #004679;
    background-color: #dfd4be;
　　
}


h3 {
    font-weight: 700;
    font-size: 20px;
    padding: 0 0 0 40px;
}

div p {
    color: #004679;
    padding: 0 0 0 60px;
}

ul {
    padding: 0 0 0 70px;
}

section p{
    font-size: 14px;
    color: #111;
    padding: 0;
    margin: 0;
}


.no-1 {
        background-color: #487ca3;
            font-size: 14px;


}

.no-2 {
        background-color: #d6d680;
            font-size: 14px;


}
.no-3 {
        background-color: #8eb4d9;
            font-size: 14px;


}
.no-4 {
        background-color: #a44682;
            font-size: 14px;


}


footer {
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0;
    font-weight: 700;
    text-align: center;
    background-color: #6c5776;

}